.col-centered{
    float: none;
    margin: 0 auto;
}

.hide {
	display: none;
}

.listItemStyle {
	border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	display: inline-block;
	padding: 8px;
	margin: 4px 4px 0px 4px;
	font-size: 28px;
	border-radius: 6px;
}

#list {
	width: 350px;
}